    *{
        margin:0;
        padding:0;
    }
    nav{
        background-color: rgb(255, 165, 0, 0.9);
        height:100px;
        width:100%;
        border-radius: 30px;
    }
    a{
        color:aliceblue;
        font-size: 25px;
        text-shadow:1px 1px 1px #A9A9A9;
        text-decoration:none;  
        display:flex;
        align-items: center;     
    }
    a:active{
        color:grey;

    }
    a:hover{
        color: grey;
        background-color: darksalmon;
    }
    .topnav{
        display:flex;
        justify-content: center;
        gap:80px;
        position:sticky;
        top:0;
        z-index:9999;
    }
    .hover-img{
        visibility:hidden;
        position:absolute;
        top:100%;
        left:0px;
        z-index: 9999;
    }
    .introduction-hover:hover.hover-img{
        display:block;
    }
    .img-box{
        width: 100%;
        display:flex;
    }
    .img{
        width: 100%;
        display:block;
        width:100%;
        height:20%;
        margin:8px 0;
    }
    .logo{
        display:block;
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        top:200px;
        width:600px;
        height:300px;
    }
    .logo:hover{
        transform: scale(0.85);
    }
    .introduction-card{
        display:block;
        position:absolute;
        text-align: center;
        font-size: 50px;
        left:50%;
        transform:translateX(-50%);
        top:1300px;
        width:500px;
        height:200px;
        color:darkblue
    }   
    .container{
        display:flex;
        flex-direction: column;
        gap:20px;
        justify-content:center;
        align-items:center;
    }
    .contentbox{
        display:flex;
        flex-direction: column;
        padding: 40px;
        gap:20px;
        border-style:solid;
        border-width:3px;
        border-color:dimgrey;
        border-radius: 20px;
        box-shadow:10px 10px 10px 0px lightgray;
        width:1200px;
        height:400px;
    }
    .contentbox img{
        float:right;
        width:300px;
    }
    .text-left{
        display:flex;
        text-align: left;
    }
    .text-right{
        display:flex;
        text-align: left;
    }
    .text-1{
        display:flex;
        flex-direction: column;
        font-size: 20px;
        padding:30px;
    }
    .header{
        font-size:40px;
        padding:30px;
    }
    .quote-programmer{
        font-size: 30px;
        color:steelblue
    }
    .quote-pm{
        font-size: 30px;
        color:orchid
    }
    .quote-game{
        font-size: 30px;
        color:darkturquoise
    }
    .quote-security{
        font-size: 30px;
        color: lightcoral;
    }
    .contentbox-A{
        display:flex;
        flex-direction: column;
        border-style:solid;
        border-width:5px;
        border-color:rgb(145, 145, 145);
        border-radius: 20px;
        margin:75px 0 20px;
        width:80%;
        height:800px;
        background-color:rgb(254, 254, 240);
        position:relative;
    }
    .contentbox-B{
        border-style:solid;
        border-width:5px;
        border-color:rgb(123, 4, 165);
        border-radius: 20px;
        width:200px;
        height:400px;
        margin:90px 0 50px 0;
        align-items: center;
        justify-content: center;
        justify-items: center;
        position:relative;
    }
    .contentbox-B p{
        position:absolute;
        text-align: center;
        font-size: 20px;
        padding:10px;
        bottom: 45px;
    }
    .container-B{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        gap:60px;
    }
    .h1{
        text-align: center;
        color:rgb(133, 131, 131);
        font-size:60px;
        padding:20px;
    }
    .img-about{
        display:flex;
        width:150px;
        height:150px;
        position:relative;
        left:10px;
        right:10px;
        top:10px;
    }
    .decoration-top-left{
        position:absolute;
        left:-30px;
        top:-30px;
        width:300px;
        overflow: visible;
    }
    .decoration-lower-left{
        position:absolute;
        left:-30px;
        bottom:-30px;
        width:300px;
        overflow: visible;
    }
    .decoration-lower-right{
        position:absolute;
        right:-30px;
        bottom:-30px;
        width:300px;
        overflow: visible;
    }
    .decoration-top-right{
        position:absolute;
        right:-30px;
        top:-30px;
        width:300px;
        overflow: visible;
    }
    .butterfly{
        position:absolute;
        right:150px;
        bottom: 20px;
        width:150px;
    }
    .contact-box{
        display:flex;
        flex-direction: column;
        padding:30px;
        gap:20px;
        border-style:solid;
        border-width:5px;
        border-color:rgb(12, 110, 79);
        border-radius: 20px;
        margin:100px 0 80px;
        width:80%;
        height:600px;
        position:relative;
    }
    .h11{
        text-align: center;
        font-size: 50px;
        color:rgb(12, 110, 79);
        padding:20px;
    }
    ul{
        position:absolute;
        top:25%;
        left:30%;
        font-size:25px;
        line-height: 2.5;
    }
    .text-contact{
        text-align: center;
        justify-content: center;
        color:rgb(145, 145, 145);
        margin:20px 0 0;
        line-height: 1.9;
        position:absolute;
        left:33%;
        bottom:200px;
    }
    .button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin:30px;
        position: absolute;
        left:23%;
        bottom:80px;
    }
    .btn{
        background-color: seagreen;
        border:none;
        border-radius: 30px;
        box-shadow:5px 5px 10px 0px lightgray;
        width:200px;
        height:70px;
        color:aliceblue;
        font-size: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }
    .btn:hover{
        transform: scale(0.97);
    }
    .Chameleon{
        position:absolute;
        bottom: -30px;
        right:180px;
        width:600px
    }
    .Leaves{
        position: absolute;
        top:30px;
        left:30%;
        width:125px;
        overflow: visible;
    }
    .Ladybug{
        position: absolute;
        bottom: -30px;
        left:-30px;
        width:100px;
        overflow: visible;
    }
    .Tree{
        position: absolute;
        top:-30px;
        right:0px;
        width:200px;  
        height:700px; 
        overflow: visible;
    }
    .TreeWithSometing{
        position: absolute;
        top:-50px;
        left:0px;
        width:300px;
        overflow: visible;
    }
    .QA-box{
        display:flex;
        flex-direction: column;
        padding:30px;
        gap:20px;
        border-style:solid;
        border-width:5px;
        border-color:rgb(73, 157, 231);
        border-radius: 20px;
        margin:10px 0 70px;
        width:80%;
        height:1000px;
        background-image: url("background_QA.png");
        position:relative;
    }
    .h12{
        text-align: center;
        font-size: 50px;
        color:black;
        padding:30px;
    }
    .text-Q{
        position: absolute;
        gap: 20px;
        top:20%;
        left:33%;
        font-size: 25px;
        line-height: 2;
        padding:15px;
    }
    .text-Q p{
        color: #848181;
    }
    

        

    